<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script src="/index.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-fluid bg">
       <div class="row">
           <div class="col">
               <nav class="navbar navbar-expand-lg bg-light">
                   <a class="navbar-brand" href="#">Book Store</a>
                   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                       <span class="navbar-toggler-icon"></span>
                   </button>
                   <div class="collapse navbar-collapse" id="navbarNavDropdown">
                       <ul class="navbar-nav">
                           <li class="nav-item">
                               <a class="nav-link active" aria-current="page" href="/">Home</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link" href="/cart">Cart</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link" href="/history">History</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link" href="/admin">Admin</a>
                           </li>
                           <li class="nav-item">
                               <a class="nav-link" href="#">Login</a>
                           </li>
                       </ul>
                   </div>
               </nav>
           </div>
       </div>

       <div class="row bg-secondary">
           <div class="col text-center text-white">
               <h1>Welcome To the online store!</h1>
           </div>
       </div>

       <div class="row bg-info">
           <div class="col text-center">
               <h2>Top sales</h2>
           </div>
       </div>

       <div id="TopSalesList" class="row text-center">
           <div class="col-2 bg-light rounded" th:each="product: ${top5products}">
               <div class="row m-0">
                   <div class="col">
                       <h3 th:text="${product.getName()}"></h3>
                   </div>
               </div>
               <div class="row m-0">
                   <div class="col">
                       <img class="w-75 h-75" th:src="${product.getImage()}">
                   </div>
               </div>
               <div class="row m-0">
                   <div class="col">
                       Price: <span th:text="${product.getPrice()}"></span> <br/>
                       Discount: <span th:text="${product.getDiscount()}"></span> <br/>
                       Final Price <span th:text="${(product.price * (1 - ( product.getDiscount() / 100 )))}"></span> <br/>
                       <button  th:data-thing="${product.getId()}" onclick="addToCart(this.getAttribute('data-thing'));">Add to Cart</button>
                   </div>
               </div>
           </div>
       </div>

        <div class="row">
            <div class="col text-center bg-info">
                <h2>Products</h2>
            </div>
        </div>

        <div id="Products" class="row text-center">
            <div class="col-2 bg-light rounded" th:each="product: ${products}">
                <div class="row m-0">
                    <div class="col">
                        <h3 th:text="${product.getName()}"></h3>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col">
                        <img class="w-75 h-75" th:src="${product.getImage()}">
                    </div>
                </div>
                <div class="row m-0">
                    <div class="col">
                        Price: <span th:text="${product.getPrice()}"></span> <br/>
                        Discount: <span th:text="${product.getDiscount()}"></span> <br/>
                        Final Price <span th:text="${(product.price * (1 - ( product.getDiscount() / 100 )))}"></span> <br/>
                        <button  th:data-thing="${product.getId()}" onclick="addToCart(this.getAttribute('data-thing'));">Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
